header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: lightgray;
}

/* HEADER */
/* Rules for the midHeader*/
#midHeader{
    display: flex;
    margin-top: 40px;
}


#headStyle {
    color: darkblue;
}

/* rules for the right header */
#rightHeader {
    display: flex;
    margin-top: 40px;
}

/*RULES FOR LEFT HEADER*/
#leftHeader img{
    max-height: 110px;
    padding-bottom: 0;
    padding-top: 5px;
}

.bookingButton_room {
    background-color: darkblue;
    width: 130px;
    height: 30px;
    margin: 4px 10px 0 0;
    text-align: center;
    line-height: 30px;
}

.bookingButton_room a{
    color: white;
    text-decoration: none;
}
.bookingButton_room a:hover {
    color: navajowhite;
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: 10px;
    padding: 15px 0;
    font-size: 0.8em;
    background-color: lightgray;
}

#footerLeft {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 10px;
    width: 570px;
}

#footerLeft a{
    padding-top: 12px;
}

#footerRight {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 180px;
    padding-top: 12px;
}



