
/* Rules for the top section*/
#topSection{
    background-color: lightgrey;
    text-align: center;
}

#topSection h1 {
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: blue;
    padding-bottom: 25px;
    padding-top: 25px;
}

/* Rules for bottom section*/
#bottomSection {
    padding-bottom: 10px;
}

/* Rules for the container of reservation in bottom section*/
.reservationContainer{
    padding-top: 10px;
    background-color: lightgrey;
    text-align: center;
    align: center;
    margin-bottom: 15px;
}

table h1{
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: blue;
}

form {
    display: inline-block;
}


#submitButton {
    height: 40px;
    width: 200px;
    border-radius: 8px;
    /*border: none;*/
    margin: 6px 0 0 4px;
    text-align: center;
    background-color: darkblue;
    color: lightgrey;
    font-size: 0.875em;
    text-decoration: none;
}
